<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <h3>Login Here</h3>
    
        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username" name="username">
    
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">
    
        <button id="login">Log In</button>
        <!-- <button id="cancelbutton"><a href="/">Cancel</a></button> -->
       
    
   
    
        
         
        
        
        <!-- <div class="social">
          
        </div> -->
      </form>
</body>
</html>